
<form action="" class="form-group">
  <input type="text" placeholder="Name" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="name">
  <br>
  <input type="text" placeholder="Position" class="form-control" [(ngModel)]="position" [ngModelOptions]="{standalone: true}">
  <br>
  <input type="text" placeholder="EmpCode" class="form-control"
  [(ngModel)]="empCode" [ngModelOptions]="{standalone: true}">
  <br>
  <button type="submit" class="btn btn-info" (click)="submit()">Submit</button>
</form>
<br>

<div *ngFor = 'let emp of emp ; let i = index'>
  <div class="row">
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{emp.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Position : {{emp.position}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button *ngIf="!update[i]" class="card-link btn btn-outline-warning" (click)="upd(i)">Update</button>
        </div>
      </div>
    </div>  
  </div>  
  <br>  
  <form *ngIf="update[i]" action="" class="form-group">
    <input type="text" placeholder="Name" class="form-control" [ngModelOptions]="{standalone: true}"  value="emp.name" [(ngModel)]="name">
    <br>
    <input type="text" placeholder="Position" class="form-control" [(ngModel)]="position"  [ngModelOptions]="{standalone: true}">
    <br>
    <input type="text" placeholder="EmpCode" class="form-control"
    [(ngModel)]="empCode"  [ngModelOptions]="{standalone: true}">
    <br>
    <button class="btn btn-warning m-1" (click)="updateEmp(emp.id,i)">Update </button>
    <button class="btn btn-danger" (click)="deleteEmp(emp.id)">Delete</button>
  </form>
  
</div>
<!-- <p>{{getEmp()}}</p>  -->
<button (click)="getEmp()" class="btn btn-primary">View Employees</button>
